
<p> Author : </p><h2><%= link_to @gossip.user.first_name, user_path(@gossip.user.id) %> <%= link_to @gossip.user.last_name, user_path(@gossip.user.id) %></h2> </br></br>
<p> City : </p><h3><%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %></h3></br></br>
<p> Title : </p><h2><%= @gossip.title %> </h2> </br></br>
<p> Content : </p><h3><%= @gossip.content %> </h3>
